// this scss is just for story demo,
// it will not export by lib

.DialogBoxRPG {
  color: red;
}

.classNameRoleDialogContainer {
  background-color: blue;
}

.classNameChoiceContainer {
}

.classNameNarratorContainer {
}

.box__click_out {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
}
